@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color:#f2f2f2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-header {
    background-color: #FFFFFF;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 470px;
    list-style-type: none;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    opacity: 0.3;
}

.navigation-link-current:active {
    border-bottom: 2px solid #756257;
}

.navigation-icon {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill:#000000;
}

.icon-glass {
    margin-left: 18px;
}

.navigation-link:hover .navigation-icon {
    fill:#756257;
}

.navigation-link:active .navigation-icon {
    opacity: 0.3;
}


.want-here {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 17px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #756257;
    text-transform: uppercase;
}

.want-here:hover {
    color:#FFFFFF;
    background-color: #615048;
}

.want-here:active {
    background-color: #615048;
    opacity: 0.3;
}

.want-here:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    outline: none;
}

.navigation-logo {
    width: 140px;
    margin-right: 30px;
}


.navigation-user {
    max-width: 264px;
    height: 66px;
    margin-left: 17px;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    transform: translateX(72px);
}


.navigation-list .navigation-user {
    min-width: 42px;
    min-height: 66px;
}


.button {
    display: inline-block;
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #83B3D3;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    height: max-content;
}

.button-reset {
    font-size: 18px;
    line-height: 23px;
    text-transform:none;
    background-color: transparent;
    margin-top: 20px;
    margin-right: 82px;
    margin-left: 18px;
    width: 160px;
    border: 3px solid transparent;
}

.button-reset:hover {
    opacity: 0.6;
}

.button-reset:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-reset:active {
    opacity: 0.3;
}

.button-submit {
    font-size: 16px;
    line-height: 21px;
    width: 160px;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    margin-right: 82px;
    margin-left: 18px;
    margin-top: 60px;
    background-color: #83B3D3;
    border: 3px solid transparent;
}

.button-submit:hover {
    background: #68A2CA;
}

.button-submit:focus {
    border: 3px solid #FFFFFF;
}

.button-submit:active {
    opacity: 0.3;
}

.button-container {
    display: flex;
    flex-direction:column;
    margin-right: -10px;
}


.main-container{
    flex-grow: 1;
}

.main-index {
    background-color: #FFFFFF;
    color: #000000;
}

.main-inner {
    background-color: #FFFFFF;
    color: #000000;
}

.first-screen {
    margin-top: -10px;
    background-color: #FFFFFF;
    color: #000000;
    background-image: url(../images/background/index-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 #34495e;
}

.welcome-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 25px;
}

.decor {
    display: block;
    margin-bottom: 63px;
}

.tagline {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 63px;
    margin-bottom: 31px;
    width: 720px;
    margin: 0 auto;
}

.reasons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 12px;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
}

.index-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    width: 1200px;
}

.advanteges-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px 384px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 1200px;
}


.number {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}


.advanteges-white-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    width: 400px;
}

.advanteges-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.advanteges-image-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.advanteges-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 97px;
}

.advanteges-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 108px;
}

.advanteges-description-white {
    color: #FFFFFF;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 87px;
}

.advanteges-image-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.advanteges-white-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    width: 400px;
}

.item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: hsl(204 48% 67% / 0.12);
    color: #000000;
    text-align: center;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: hsl(204 48% 67% / 0.2);
    color: #000000;
    text-align: center;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: hsl(204 48% 67% / 0.12);
    color: #000000;
    text-align: center;
    width: 400px;
    justify-content: center;
    align-items: center;

}

.recommendation-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 400px;
}

.recommendation-item {
    margin: auto;
}

.recommendation-grey {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: hsl(204 48% 67% / 0.12);
    width: 400px;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 89px;
}

.recommendation-food {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 91px;
}

.recommendation-grey-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 400px;
    background-color: hsl(204 48% 67% / 0.12);;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
}

.recommendation-title {
    margin-top: 21px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.recommendation-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 79px;
    text-align: center;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 93px;
    margin-top: 91px;
    text-align: center;
}

.search-question {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.search-reason {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    margin: 0;
    padding-bottom: 56px;
    padding-top: 29px;
    text-align: center;
}

.search-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    height: 60px;
    background-color: #756257;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.search-button:hover {
    color:#FFFFFF;
    background-color: #615048;
}

.search-button:active {
    color: #f2f2f2;
}

.search-button:focus {
    box-shadow: inset 0 0 0 3px #68A2CA;
    outline: none;
}

.subscribtion {
    display: block;
    background-image: url(../images/background/background-subscribe.jpg);
    color: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 93px;
    justify-content: center;
    align-items: center;
}



.subscribe {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    width: 720px;
    margin: 0 auto;
    padding-top: 96px;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding-top: 29px;
    padding-bottom: 28px;
    justify-content: center;
    text-align: center;
}

.subscribe-catalog {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
}

.subscribtion-catalog {
    display: block;
    color:#000000;
    text-align: center;
    padding-bottom: 140px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.subscribe-catalog-description  {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 28px;
    justify-content: center;
    text-align: center;
}



.subscribtion-form {
    color: #000000;
}

.subscribe-button {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    padding: 15px;
    margin-right: 20px;
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid transparent;
}


.subscribe-button:hover {
    color:#FFFFFF;
    background-color: #68A2CA;
}

.subscribe-button:active {
    color: #f2f2f2;
}

.subscribe-button:focus {
    border: 3px solid #756257;
    box-shadow: inset 0 0 0 3px #615048;
    outline: none;
}

.field {
    margin: 0;
    padding: 0;
    padding-left: 22px;
    font: inherit;
    font-weight: 700;
    background-color: #f2f2f2;
    width: 588px;
    height: 55px;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid transparent;
}

.field:hover {
    background-color: #e5e5e5;
}

.field:focus {
    border: 3px solid #83B3D3;
    background: #E6E6E6;
}

.field:invalid {
    box-shadow: none;
  }



.page-footer {
    font-size: 40;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    background-color:#FFFFFF;
    text-align: center;
    text-transform: uppercase;
}


.page-footer a{
    color: #000000;
    text-decoration: none;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.footer-social {
    margin-left: 30px;
}

.footer-social-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 59px;
}

.social-link {
    display: block;
    height: 20px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-item {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

.footer-social-item:nth-child(3n) {
    margin-right: 0;
  }


.social-link {
    width: 20px;
    fill:#83B3D3;
    border: 2px solid transparent;
    border-radius: 10px;
}

.social-link:hover {
    fill: #68A2CA;
}

.social-link:focus {
    border: 2px solid #83B3D3;
    border-radius: 10px;
}

.social-link:active {
    opacity: 0.3;
}


.footer-info:hover {
    color: #756257;
    fill:  #756257;
}

.footer-info:active {
    opacity: 0.3;
}

.footer-info:focus {
    box-shadow: inset 0 0 0 4px #83B3D3;
    outline: none;
}

.footer-phone {
    width: 720px;
    margin-left: 57px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
}


.footer-logo-html-academy {
    margin-left: auto;
    max-width: 120px;
    margin-top: 22px;
    margin-bottom: 44px;
    margin-right: 72px;
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(242, 242, 242, 0.8);
    display: flex;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 62px;
    padding-bottom: 70px;
}

.modal-search {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    right: 70px;
    top:52px;
    background-color: #F2F2F2;
    background-image: url(../images/main-page/modal-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: none;
    padding: 20px;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    border: 3px solid #83B3D3;
}

.modal-close-button.button:active {
    opacity: 0.3;
}

.modal-title {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 60px;
}

.search-form .field-group {
    margin: 0;
}

.field-group {
    max-width: 575px;
}

.info-modal {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin: 0 auto;
    color: #FF5757;
    align-items: center;
}

.info-modal:invalid {
    color: #FF5757;
}

.info-modal-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    display: flex;
    margin: 0;
    margin: 0 auto;
    padding-left: 50px;
}


.search-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.search-field-form .field-form {
    position: relative;
}

.calendar {
    position: absolute;
    background-color: transparent;
    border: none;
    opacity: 0.3;
    top: 15px;
    right: 11px;
    cursor: pointer;
}

.calendar:hover {
    opacity: 100%;
}

.form-amount {
    width: 133px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;

}

.adults {
    padding-right: 15px;
}

.field-form {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    margin-left: 36px;;
    align-items: center;
    background: #F2F2F2;
    border-radius: 4px;
    border: 2px solid transparent;
}

.field-form:hover {
    background-color: #E6E6E6;
}

.field-form:focus {
    border: 3px solid #83B3D3;
    background-color: #E6E6E6;
}

.field-form:active {
    border: 2px solid #000000;
    background-color:  #FFFFFF;
}

.field-form:-moz-submit-invalid {
    color: #FF5757;
}


.form-amount::-webkit-outer-spin-button,
.form-amount::-webkit-inner-spin-button {
-webkit-appearance: none;
 appearance: none;
}

.search-field-form {
    width: 390px;
    height: 45px;
    padding-left: 33px;
}

.form-title {
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

.form-title-adults {
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin-right: 26px;
}

.field-group {
    position:relative;
}

.minus-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 165px;
    cursor: pointer;
}

.minus-button-2 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 110px;
    cursor: pointer;
}

.minus-button:hover {
    opacity: 100%;
}

.minus-button:focus {
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
}
.minus-button:active {
    opacity: 0.2;
}

.minus-button-2:hover {
    opacity: 100%;
}

.minus-button-2:focus {
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
}

.minus-button-2:active {
    opacity: 0.2;
}

.plus-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
    opacity: 0.3;
}

.plus-button:hover {
    opacity: 100%;
}

.plus-button:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.plus-button:active {
    opacity: 0.2;
}

.plus-button-2:hover {
    opacity: 100%;
}

.plus-button-2:focus {
    outline: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
}
.plus-button-2:active {
    opacity: 0.2;
}

.plus-button-2 {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    opacity: 0.3;
}

.tooltip {
    position: absolute;
    margin-top: 10px;
   right: 160px;
   width: 16px;
   height: 16px;
}

.tooltip-toggle {
    border: none;
    border-radius: 50%;
    background: #83B3D3;
    padding: 0;
    margin: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/main-page/tooltip-info.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.tooltip-toggle:hover {
    background-color: #68A2CA;
}

.tooltip-text {
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;
    display: block;
    text-transform: none;
    padding-top: 15px;
    padding-bottom:18px;
    padding-left: 22px;
    padding-right: 18px;
    width: 216px;
    height: 110px;
    position: absolute;
    top:35px;
    right: -120px;
    margin-top: 6px;
    display: none;
}

.traingle {
    position: absolute;
    bottom: 100%;
    right: 45%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.search-form-button {
    display: flex;
    width: 575px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    background-color: #83B3D3;
    border-radius: 10px;
}

.search-form-button:hover {
    background-color: #68A2CA;
}

.search-form-button:focus {
    border: 3px solid #756257;
}

.search-form-button:active {
    opacity: 0.3;
}

.header-inner {
    width: 1200px;
    margin: 0 auto;
}

.header-inner-title {
    padding-top: 35px;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}


.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 45px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    list-style-type: none;
    margin-top: -6px;
}

.breadcrumbs-home {
    margin-right: 11px;
    cursor: pointer;
}

.breadcrumbs-arrow {
    margin-right: 8px;
}

.breadcrumbs-link {
    margin: right 26px; 
    color: inherit;
    text-decoration: none;
  }

.catalog-products {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-top: -10px;
    padding-left: 71px;
    background-image: url(../images/background/catalog-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #FFFFFF;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
    padding-right: 65x;
    margin: 0;
    padding: 0;
}

.catalog-down-column {
    width: 1056px;
    margin-left: 73px;
    margin-right: 71px;
}

.catalog-filter-title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:  #FFFFFF; 
    margin-bottom: 30px;
  }

.catalog-filter-title-price {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:  #FFFFFF; 
    margin-bottom: 34px;
}

.range-scale {
    position: relative;
    background-color: #e5e5e5;
    height: 4px;
    margin-top: 32px;
    border-radius: 4px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.toggle-min {
    top:-10px;
    left: 0px;
}

.toggle-max {
    top: -10px;
    right: -10px;
}
.range-toggle:focus {
    border: 3px solid #83B3D3;
}
  
.range-toggle:active {
    border: 2px solid #83B3D3;
 }

.range-wrapper-inputs {
    display: flex;
    justify-content: start;
}

.range-input {
    width: 144px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-width: 2px 1px 2px 2px;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    background-color: transparent;
    padding: 19px 14px;
    font: inherit;
    color: #FFFFFF;
}

.range-input-1 {
    width: 144px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-width: 2px 2px 2px 1px;
    box-sizing: border-box;
    border-radius:0px 4px 4px 0px;
    background-color: transparent;
    padding: 19px 14px;
    font: inherit;
    color: #FFFFFF;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input-1::-webkit-outer-spin-button,
.range-input-1::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
}

.range-input:hover {
    opacity: 0.6;
}

.range-input:focus {
    box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-input:active {
    background-color: #756257;
}

.range-input-1:hover {
    opacity: 0.6;
}

.range-input-1:focus {
    box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-input-1:active {
    background-color: #756257;
}

.control {
    position: relative;
    display: block;
    padding-left: 39px;
}

.control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
}


.control:active .control-mark {
    background-color: rgba(255, 255, 255, 0.3);
}

.control-mark {
    position: absolute;
    left: 4px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.control-label {
    line-height: 23px;
    font-size: 18px;
    margin-left: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url(../images/catalog/control-tick.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="checkbox"]:focus + .control-mark {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.control-input[type="checkbox"]:active + .control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
    background-image: url(../images/catalog/control-radio.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="radio"]:focus + .control-mark {
    outline: 3px solid #83B3D3;
    border-radius: 50%;
}

.control-input[type="radio"]:active + .control-mark {
    background: rgba(255, 255, 255, 0.3);
}

.catalog-filter-group {
    margin: 0;
   margin-bottom: 83px;
   padding: 0;
   border: none;
   
}

.catalog-filter-group-type {
    margin: 0;
    margin-bottom: 83px;
    padding: 0;
    border: none;
    margin-right: 50px;
}

.catalog-filter-group-price {
    margin: 0;
    margin-bottom: 85px;
    padding: 0;
    border: none;
    margin-left: 65px;
}

.catalog-filter-list {
    width: max-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-item {
    list-style-type: none;
}

.hotels-found {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 39px;
}

.sorting-container {
    display: flex;
    margin-bottom: 73px;
    margin-top: 44px;
    align-items: center;
    justify-content: space-between;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    margin-right: auto;
}

.select-control {
    position: relative;
    width: 287px;
    height: 48px;
    font: inherit;
    padding: 5px 17px;
    margin-left: 180px;
    margin-right: 70px;
    padding-right: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: url(../images/arrows/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
    color: #333333;
}

.select-control:hover {
    border: 2px solid #83B3D3;
}

.select-control:focus {
    border: 2px solid #83B3D3;
}

.select-control:active {
    border: 2px solid #E6E6E6;
    color: #E6E6E6;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
    border-color: #f2f2f2;
    border-radius: 4px;
}

.card-grid-toggle:hover {
    border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
    border: 2px solid #83B3D3;
}

.card-grid-toggle:active {
    border: 2px solid #000000;
}

.card-grid-toggle-current {
    border: 2px solid #000000;
}

.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color:  #FFFFFF;
    width: 106px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50px 18px;
    margin-bottom: 34px;
    margin-top: 10px;
}

.product-card {
    display: grid;
    grid-template-rows: 206px min-content min-content min-content 37px;
    grid-template-columns: 135px 160px;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.product-card-link {
    text-decoration: none;
  }

.product-card-content {
    padding: 20px;
    
}

.product-card-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
}

.product-card-image:hover {
    opacity: 0.6;
}

.product-card-image:focus {
    border: 3px solid #83B3D3;
}

.product-card-image:active {
    opacity: 0.3;
}

.product-card-title {
    padding-left: 2px;
    margin: 0;
    font-weight:700;
    color:#000000;
    font-size: 24px;
    line-height: 31px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.product-card-type {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  padding-left: 3px;
}

.product-card-price {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 10px;
}

.product-card-details,
.want-here {
    font-weight: 700;
    background-color: #756257;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}

.product-card-details {
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 5px;
}

.product-card-details:hover {
    background-color: #615048;
}

.product-card-details:active {
    color: #e5e5e5;
}

.product-card-details:focus {
    box-shadow: inset 0 0 0 3px #68A2CA;
    outline: none;
}

.product-card-favorite {
    font-weight: 700;
    background-color: #83B3D3;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-radius: 4px;
    width: 125px;
    margin-left: 10px;
}

.product-card-favorite:hover {
    background-color: #68A2CA;
}

.product-card-favorite:active {
    color: #e5e5e5;
}

.product-card-favorite:focus {
    box-shadow: inset 0 0 0 3px #615048;
    outline: none;
}


.product-card-favorite-in {
    font-weight: 700;
    background-color: #7DB54F;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border-radius: 4px;
    margin-left: 10px;
    width: 125px;
}

.product-card-favorite-in:hover {
    background-color: #6C9E42;
}

.product-card-favorite-in:active {
    color: #e5e5e5;
}

.product-card-favorite-in:focus {
    box-shadow: inset 0 0 0 3px #615048;
    outline: none;
}

.stars-rating {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 7px;
    margin-left: 5px;
}

.rating {
    background-color: #f2f2f2;
    color: #333333;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    grid-column-start: -2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 10px;
    border-radius: 4px;
    width: 145px;
    margin-bottom: 5px;
    justify-self: flex-end;
    margin-right: 5px;
}

.product-show-more {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 60px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 35px;
    padding-right: 11px;
    border-radius: 4px;
}

.product-show-more:hover {
    color:#FFFFFF;
    background-color: #68A2CA;
}

.product-show-more:active {
    color: #f2f2f2;
}

.product-show-more:focus {
    box-shadow: inset 0 0 0 3px #615048;
    outline: none;
}

.pagination-container {
    display: flex;
    margin-top: 29px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 29px;
    list-style-type: none;
    margin-right: 100px;
}

.pagination-item {
    margin-top: -3px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding-left: 2px;
    padding-top: 14px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:active {
    color: #e5e5e5;
}

.pagination-link:focus {
    box-shadow: inset 0 0 0 3px #615048;
    outline: none;
}

.pagination-current {
    color: #000000;
    background-color: hsl(204 48% 67% / 0.12);
}

.pages {
    margin: 0;
    margin-top: 15px;
    margin-left: 195px;
    color:  #333333;
    font-size: 18px;
    line-height: 23px;
}

.select-page {
    display: block;
    font: inherit;
    margin-top: 23px;
    box-sizing: border-box;
    margin-left: 51px;
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding-left: 13px;
    appearance: none;
    background-image: url(../images/arrows/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
}